
@media screen and (max-width:450px) {
    .send-btn {
        flex-wrap: wrap;
        gap: 1vh;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 500px) {
    .work {
        justify-items: center;
    }
}

@media screen and (max-width:600PX) {
    .home-content :nth-child(2) {
        letter-spacing: 0.65rem;
    }

    .box-group {
        flex-wrap: wrap;
    }


    .contact-section input , .contact-section textarea {
        max-width: 80px;
        margin-right: 1vh;
    }
}

@media screen and (max-width: 650px) {
    .navbar-toggler {
        margin-right: 7vh;
    }

   
}

@media screen and (max-width: 750px) {
    .home {
        flex-wrap: wrap;
    }
    .home-content :nth-child(2) {
        letter-spacing: 0.58rem;
    }

    .work {
        grid-template-columns: repeat(1 ,1fr);

    }

    #book-pic {
        grid-row: 1/2;
    }

    #ca-pic {
        grid-row: 5/6;
    }

    .contact {
        flex-wrap: wrap;
    }

    .contact .contact-section {
        flex: 1;
    }
    .issue a {
        margin-left: 2.5vh;
    }

    .issue h5 {
        margin: 1vh 3.2vh;
    }
}

@media screen and (max-width: 900px) {
    .home-content :nth-child(2) {
        letter-spacing: 0.7rem;
    }
}