@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body {
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* navbar */
.navbar {
    background-color: #B1DDF1;
    padding-bottom: 0;
}
.navbar-nav a {
    color: black ;
    padding: 0;
    margin-left: 2rem;
    font-size: 1.25rem;
}

.navbar a:hover {
    transform: scale(1.1);
}
.navbar-nav a:hover {
    transform: scale(1.1);
    border-bottom: #fccb06 3px solid;

}

/* end of navbar */
/* home */
.home {
    display: flex;
    align-items: center;
    font-family: "Roboto Mono", sans-serif;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 1.8rem;
    margin-top: 10vh;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.home-content :nth-child(2){
    letter-spacing: 0.85rem;
    font-weight: bold;
}

.social-links {
    margin-top: 1.5vh;
    align-self: center;
}

.social-links a{
    text-decoration: none;
    color: black;
    font-size: 6vh;
    margin: 0 1.2vh;
}

/* end of home */

/* about */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    flex-basis: 60%;
    margin: 4vh 0;
    font-family: "Roboto Mono" , sans-serif;
}

/* end of about */

/* work */
.work {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 3vh 12vh;
    gap: 5vh;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

.btn-group {
    max-width: fit-content;
    display: flex;
    align-items: center;
    border: solid 1px;
    padding: 0.5vh 1vh;
    gap: 1vh;
}

.btn-group a {
    text-decoration: none;
    color: black;
}

.work-content {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    height: 100%;
}
.work-content :nth-child(n+2) {
    font-family: "Roboto Mono", sans-serif;
}

.work-pic {
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
}

.work-pic:hover {
    transform: scale(1.03);
}

.box-group {
    display: flex;
    gap: 2vh;
    margin-top: auto;
}

.box {
    background-color: #f0f0f0;
    padding: 0.8vh 1vh;
    border-radius: 15px; 
    /* media */
}

.disabled {
    pointer-events: none;
}

/* end of work  */
/* contact */

.contact {
    margin: 4vh 12vh;
    display: flex;
    border: solid 1px;
    border-radius: 15px;
    align-items: center;
    padding-right: 1vh;
    background-color: white;
    border: solid;
}

.contact-section {
    display: flex;
    flex-direction: column;
    margin: 3vh;
    font-family: "Roboto Mono" sans-serif;
    flex-basis: 60%;
}

.contact-section div {
    margin: 3vh 2vh;
}

.contact-section input , .contact-section textarea {
    min-width: 45%;
}

.contact-section h4 {
    margin: 0 1.8vh;
}

.send-btn {
    display: flex;
    justify-content: center;
}

.send-btn a {
    text-decoration: none;
    color: white;
    margin-left: 2vh;
    border-radius: 12px;
    background-color: rgb(116, 116, 255);
    padding: 0.5vh 2vh;



}

.contact-section button {
    border-radius: 12px;
    padding: 0.5vh 2vh;
    color: white;
    background-color: rgb(116, 116, 255);
    border: none;
}

.contact-section button i {
    color:  blue;
}
.issue {
    display: flex;
    flex-direction: column;
}

.issue a  {
    text-decoration: none;
    color: black;
    margin: 2vh 0;
    font-size: 2.5vh;
    padding: 0.5vh 1vh;
}


.issue i {
    font-size: 3.5vh;
    margin-right: 1vh;
}

.issue a:hover {
    background-color: rgb(219, 216, 216);
    border-radius: 12px;
}
/*  end of contact */

/* footer */

.footer {
    display: flex;
    align-items: center;
    background-color: #C0C0C0;
    padding: 0 4vh;
}
.footer-links {
    margin-left: auto;
}

.footer-links a , .quick-links a {
    text-decoration: none;
    color: black;
}

.footer-links a {
    font-size: 6vh;
}

.quick-links a , .footer p {
    font-size: 3vh;
    margin: 1vh 2vh;
}

.quick-links a:hover {
    font-weight: bolder;
    transform: scale(1.02);
}
/* end of footer */